<h1>Editing medicalrecord</h1>

<%= render "form", medicalrecord: @medicalrecord %>

<br>

<div>
  <%= link_to "Show this medicalrecord", @medicalrecord %> |
  <%= link_to "Back to medicalrecords", medicalrecords_path %>
</div>
