<div id="<%= dom_id vet %>">
  <p>
    <strong>Nombre:</strong>
    <%= vet.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= vet.apellido %>
  </p>

  <p>
    <strong>Especialidad:</strong>
    <%= vet.especialidad %>
  </p>

</div>
