<p style="color: green"><%= notice %></p>

<h1>Vets</h1>

<div id="vets">
  <% @vets.each do |vet| %>
    <%= render vet %>
    <p>
      <%= link_to "Show this vet", vet %>
    </p>
  <% end %>
</div>

<%= link_to "New vet", new_vet_path %>
