<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mascota Feliz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

      <!--si el usuario esta logueado entra aqui -->
        <% if user_signed_in? %>
          <li class="nav-item">
          <!-- lo que el usuario puede ver del menu al loguearse 
          <a class="nav-link active" aria-current="page" href="/home">Home</a> #modificar el href-->
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="clients_path">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pets_path">Mascotas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vets_path">Veterianrios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="appointments_path">Citas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="medicalrecords_path">Registro Medico</a>
          </li>
        <%end%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.email%>
              
            <%else%>
              Opciones
            <%end%>
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li>
                <%= button_to 'Cerrar sesión' , destroy_user_session_path, class: 'dropdown-item' , method: :delete %>
              </li>
            <%else%>
              <li>
                <%= link_to 'Iniciar sesión' , new_user_session_path, class: 'dropdown-item' %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to 'Registro' , new_user_registration_path, class: 'dropdown-item' %>
              </li>
            <%end%>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
